---
import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="sticky-navbar">
      <div class="mobi-navbar">
        <a
          href="/"
          id="navbar-logo"
          aria-current="page"
          class="logo-container w-inline-block w--current"
          ><img src="images/" width="40" alt="" class="logo" />
          <div>
            <div class="logo-text">Продажа жидкого азота в Сочи</div>
          </div>
        </a><a
          id="navbar-menu-mobile"
          data-w-id="91aa77b6-59e8-44d6-f6d6-a4fc13051e6c"
          href="#"
          class="menu-btn hidden w-inline-block"
        >
          <div class="menu-btn-text">Меню</div>
          <div class="menu-icon-wrap">
            <div class="menu-line bot-line-menu"></div>
            <div class="menu-line bot-line-menu"></div>
            <div class="menu-line top-line-menu"></div>
          </div>
        </a>
        <div class="nav-phone-wrap">
          <a href="tel:+79028759423" class="nav-phone">+7 (902) 875-94-23</a>
          <div><a href="#" class="nav-callback hidden">Обратный звонок</a></div>
        </div>
      </div>
      <div
        data-w-id="91aa77b6-59e8-44d6-f6d6-a4fc13051e72"
        class="navbar-desktop"
      >
        <div
          data-w-id="91aa77b6-59e8-44d6-f6d6-a4fc13051e73"
          class="navbar-wrap"
        >
          <div class="nav-left-wrap">
            <a href="#" class="logo-container w-inline-block"
              ><img src="images/logo_azot.svg" width="40" alt="" class="logo" />
              <div class="logo-text">Продажа жидкого азота в Сочи</div>
            </a>
            <div class="select hidden">
              <div
                data-w-id="99c2cd86-0b00-b483-87af-4651d82b5f31"
                class="select-toggle"
              >
                <div class="dropdown-name">Сочи</div><img
                  src="images/down-arrow.svg"
                  alt=""
                  class="dropdown-arrow-2"
                />
              </div>
              <div style="height:0PX;opacity:0" class="select-list">
                <a href="/krym.html" class="nav-drop-link">Крым</a>
              </div>
            </div>
          </div>
          <nav class="navbar">
            <ul role="list" class="navbar-links w-list-unstyled">
              <li class="nav-list-item">
                <a
                  href="#price"
                  data-w-id="00adf530-970f-6763-2c93-4a81726fc68e"
                  class="menu-link">Цена</a
                >
                <div class="line-link"></div>
              </li>
              <li class="nav-list-item">>Доставка</li>
              <div class="line-link"></div>
            </ul>
            <li class="nav-list-item hidden">
              <div class="line-link"></div>
            </li>
            <li class="nav-list-item">>Контакты</li>
            <div class="line-link"></div>
          </nav>
        </div>
      </div><a href="#" class="menu-close-btn w-inline-block">
        <div class="menu-btn-text">close</div><img
          src="images/plus-b.svg"
          alt=""
          class="image-4"
        />
      </a>
      <div class="div-block-6"></div><a
        id="navbar-free-btn"
        href="#"
        class="btn-base border-grey mobile-btn w-button"
        >БЕСПЛАТНАЯ <br />КОНСУЛЬТАЦИЯ</a
      >
      <div class="nav-phone-wrap">
        <a href="tel:+79028759423" class="nav-phone">+7 (902) 875-94-23</a>
        <div>
          <a href="#" class="nav-callback hidden">Обратный звонок</a>
        </div>
      </div>
    </header>

    <section class="hero_section wf-section">
      <div class="main-container">
        <div class="hero-head-wrap">
          <h1 class="heading">Продаем жидкий азот в Сочи по 150 ₽ за 1 литр</h1>
          <div class="subtitle-wrap">
            <div class="subtitle">
              Заправляем ваши ёмкости жидким азотом. Возможно оформить платную
              доставку от 300 руб, а так же можно подъехать со своей емкостью и
              мы заправим вам на месте
            </div>
          </div>
          <div class="hero-form-wrap w-form">
            <form
              data-name="Форма на первом экране"
              method="post"
              id="email-form"
              name="email-form"
              class="hero-form"
            >
              <input
                type="tel"
                class="input w-input"
                maxlength="256"
                name="phone"
                data-name="phone"
                placeholder="Ваш номер телефона"
                id="field"
                required=""
              /><input
                type="submit"
                value="Заказать"
                data-wait="Отправляем..."
                class="base-btn w-button"
              />
            </form>
            <div class="succes-wrap w-form-done">
              <div>
                Спасибо, что выбрали нашу компанию. Ваш номер телефона
                отправлен, скоро мы его получим и обязательно свяжемся с вами
              </div>
            </div>
            <div class="error-wrap w-form-fail">
              <div>
                Произошла какая-то ошибка. Попробуйте перезагрузить страницу и
                отправить еще раз. <br />Либо позвоните нам по номеру 8
                (902) 875-94-23
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-img-mobi"></div>
    </section>
    <section class="section wf-section">
      <div class="points-container">
        <div class="point-item">
          <img src="images/shipped.svg" width="60" alt="" class="points-img" />
          <div class="city-wrap">
            <div class="point-name">Доставка по<br />Сочи 300 руб</div><a
              href="#delivery"
              class="link">Другие города</a
            >
          </div>
        </div>
        <div class="point-item">
          <img
            src="images/accounting.svg"
            width="60"
            alt=""
            class="points-img"
          />
          <div class="point-name">Возможна оплата<br />по расчетному счету</div>
        </div>
        <div class="point-item">
          <img
            src="images/customer-service.svg"
            width="60"
            alt=""
            class="points-img"
          />
          <div class="point-name">Работаем без<br />выходных</div>
        </div>
        <div class="point-item">
          <img src="images/profit.svg" width="60" alt="" class="points-img" />
          <div class="point-name">Больше объем,<br />ниже стоимость</div>
        </div>
      </div>
    </section>
    <section id="price" class="section wf-section">
      <div class="price-container">
        <div class="price-content">
          <h2 class="heading-2">
            Вы можете <span class="text-blue-span">купить жидкий азот</span> по
            следующим ценам
          </h2>
          <div>
            Цена зависит от объема и от регулярности поставок. Доставка
            оплачивается отдельно.<br />
          </div>
          <ul role="list" class="price-list">
            <li>1 - 5л = <strong>1000 - 1500 ₽</strong></li>
            <li>От 10 л = <strong>150 рублей</strong></li>
          </ul>
          <p class="price-sub-text">
            При заключении договора на постоянную доставку азота, цена за 1 л и
            стоимость доставки обговаривается индивидуально. Возможна оплата
            по расчетному счету, без НДС.
          </p>
        </div><img src="images/image-4.png" width="400" alt="" class="img" />
      </div>
    </section>
    <section id="delivery" class="section wf-section">
      <div class="delivery-container">
        <img src="images/delivery20(1).jpg" width="400" alt="" class="img" />
        <div class="delivery-content">
          <h2>
            <span class="text-blue-span">Доставка</span> жидкого азота по Сочи<strong
            ></strong>
          </h2>
          <div>
            Мы можем организовать вам доставку жидкого азота по Сочи, а так же
            по и близлежащим районам: Мацеста, Хоста, Адлер, Красная поляна,
            Олимпийский парк и другим.<br />
          </div>
          <ul role="list" class="price-list">
            <li>Сочи = от <strong>300 рублей</strong></li>
            <li>Мацеста = <strong>300 рублей</strong></li>
            <li>Хоста = <strong>300 рублей</strong></li>
            <li>Адлер = <strong>от 300 рублей</strong></li>
            <li>Красная поляна = <strong>от 500 рублей</strong></li>
            <li>Олимпийский парк = <strong>от 500 рублей</strong></li>
          </ul>
          <p class="delivery-sub-text">
            Если нужного вам города/района нет в
            списке, то, пожалуйста, свяжитесь с нами по номеру <a
              href="tel:+79028759423"
              class="link-in-text">+7 (902) 875-94-23</a
            > и мы рассчитаем вам стоимость доставки
          </p>
        </div>
      </div>
    </section>
    <div class="section wf-section">
      <div class="size-container">
        <div class="price-content">
          <h2>
            <span class="text-blue-span">Любой объем<br />‍</span>жидкого азота
          </h2>
          <div>
            Наша ёмкость рассчитана 1100 литров жидкого азота. Поэтому всегда
            сможем предоставить вам необходимый объем. Можно договорится
            о доставке, но так же вы можете подъехать, и приобрести нужное вам
            количество жидкого азота по <a href="#price" class="link-in-text"
              >цене указанной выше</a
            >. Находимся в г. Сочи, пгт Сириус, ул. Воскресенская 14/1<br />
          </div>
        </div><img
          src="images/nitro20(1).jpg"
          width="220"
          sizes="(max-width: 479px) 73vw, (max-width: 767px) 54vw, (max-width: 991px) 12vw, (max-width: 1279px) 15vw, 189.7109375px"
          srcset="images/nitro20(1)-p-500.jpeg 500w, images/nitro20(1).jpg 600w"
          alt=""
          class="img"
        />
      </div>
    </div>
    <div class="section blue wf-section">
      <div class="nitro-container">
        <img
          src="images/image-2.jpg"
          width="400"
          sizes="(max-width: 479px) 73vw, (max-width: 767px) 54vw, (max-width: 991px) 8vw, (max-width: 1279px) 10vw, (max-width: 1439px) 128.0234375px, 130.265625px"
          srcset="images/image-2-p-500.jpeg 500w, images/image-2-p-800.jpeg 800w, images/image-2.jpg 881w"
          alt=""
          class="img"
        />
        <div class="delivery-content">
          <h2>
            <span class="text-blue-span">Жидкий азот</span>- что это такое?
          </h2>
          <div>
            Жидкий азот — прозрачная жидкость. Является одним из четырёх
            агрегатных состояний азота. Жидкий азот обладает удельной плотностью
            0,808 г/см³ и имеет точку кипения 77,4 K (−195,75 °C). Не
            взрывоопасен и не ядовит. Впервые получен Раулем Пикте. Литр жидкого
            азота, испаряясь и нагреваясь до 20 °C, образует примерно 700 литров
            газа. По этой причине жидкий азот хранят в специальных сосудах
            Дьюара с вакуумной изоляцией открытого типа или криогенных ёмкостях
            под давлением.<br /><br />Наш жидкий азот подходит не только для
            промышленной сферы.<br />Он подходит для использования в кулинарии
            (для крио заморозки), косметологии (удалении бородавок), детских
            экспериментах с жидким азотом и многом другом. Больше вариантов
            применения вы можете прочитать <a href="#gde" class="link-in-text"
              >здесь</a
            ><br />
          </div>
        </div>
      </div>
    </div>
    <section id="gde" class="section wf-section">
      <div class="main-container">
        <h2>
          <span class="text-blue-span">Где используется</span> жидкий азот?
        </h2>
        <ul role="list" class="list">
          <li>Жидкий азот в косметологии (криотерапия)</li>
          <li>
            Лечение бородавок, угрей, папиллом туширование кожи, удаление
            родинок
          </li>
          <li>Электроника и телефоны</li>
          <li>
            Очищение веществ в лабораториях для получения высокого вакуума
            (примеси вымораживаются)
          </li>
          <li>Криогенные вакуумные ловушки для откачки влаги</li>
          <li>Криосауна</li>
          <li>Криошоу (научное шоу) в анимации</li>
          <li>Мороженое из азота. Молекулярная кухня</li>
          <li>Заморозка ягод. Шоковая заморозка мясных продуктов</li>
          <li>Хранение биопрепаратов в криобанках</li>
          <li>
            Хранение биоматериалов (стволовые клетки, сперма и др.) в криобанках
          </li>
          <li>Лечение гипертрофических рубцов жидким азотом</li>
          <li>В пожаротушении (применяется редко из-за дороговизны)</li>
          <li>Заморозка грунта жидким азотом</li>
          <li>В криогенной резке</li>
          <li>Транспортировка легко окисляемых продуктов</li>
          <li>Хладагент в криостатах, вакуумных установках и т. п.</li>
          <li>
            В промышленности для получения аммиака и азотных удобрений, азотной
            кислоты и нитросоединений
          </li>
          <li>Охлаждение станков жидким азотом</li>
          <li>
            Применение и исследование высокотемпературной сверхпроводимости
          </li>
          <li>Термообработка, закалка, запрессовка деталей</li>
          <li>Термовакуумные камеры для испытания космических аппаратов</li>
          <li>Охлаждение компьютера жидким азотом</li>
        </ul>
      </div>
    </section>
    <section id="contacts" class="section contacts wf-section">
      <div class="main-container">
        <div class="contacts-head-wrap">
          <h2>Контакты</h2>
        </div>
        <div class="div-block-9">
          <div class="contact-content">
            <div class="footer-phone">
              Вы можете связаться с нами по номеру <strong>+</strong><a
                href="tel:+79028759423"
                class="link-3"
                ><strong>7 (902) 875-94-23</strong>, либо написать нам в рабочий
                вацап по этому же номеру</a
              ><br />
            </div>
            <div class="footer-adres">
              Вы можете приехать со своей емкостью и мы на месте заправим жидким
              азотом вашу емкость. Мы находимся по адресу: <br /><strong
                >г. Сочи, пгт Сириус, ул. Воскресенская 14/1</strong
              ><br />
            </div>
            <div class="footer-form-wrap">
              <div class="footer-phone">
                <a href="http://+79028759423" class="link-3"
                  >Здесь вы можете задать свой вопрос:</a
                ><br />
              </div>
              <div class="form-block w-form">
                <form
                  id="wf-form-"
                  name="wf-form-"
                  data-name="Форма внизу"
                  method="get"
                >
                  <input
                    type="text"
                    class="input-vertical w-input"
                    maxlength="256"
                    name="field"
                    data-name="Имя"
                    placeholder="Имя"
                    id="field"
                  /><input
                    type="tel"
                    class="input-vertical w-input"
                    maxlength="256"
                    name="field"
                    data-name="Телефон"
                    placeholder="Номер телефона*"
                    id="field"
                    required=""
                  /><textarea
                    name="field"
                    maxlength="5000"
                    data-name="Сообщение"
                    placeholder="Введите ваше сообщение"
                    id="field"
                    class="input-vertical area w-input"></textarea><input
                    type="submit"
                    value="Отправить"
                    data-wait="Отправляем..."
                    class="base-btn w-button"
                  />
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
